/* common styles */
*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
.common-btn{
    background-color: #1D4ED8;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 100%;
}
nav ul{
    display: flex;
    list-style: none;  
}
nav ul li{
    padding: 0 10px;
    
}
nav ul li a{
    text-decoration: none;
    color: black;
}

.hero-container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    background-image:
    linear-gradient(
        to right, 
        rgba(0, 0, 0, 0.9) ,
        rgba(0, 0, 0, 0.7) ,
        rgba(0, 0, 0, 0.1) ,
        rgba(0, 0, 0, 0.0)
    ),
    url('../assets/banner.jpg');
    background-size: cover;
    
    width: 100%;
    height: 100vh;
}
.hero-container h1{
    padding-top:150px ;
    font-size: 80px;
    padding-bottom: 30px;
}
.hero-container p{
    padding-bottom: 100px;
}
.hero-container button{
    
    padding: 15px 30px;
    font-size: 24px;
}

/* Speaker styles */
.speakers-container h2{
    text-align: center;
    padding: 60px 0 20px;
    font-size: 56px;
    font-weight: bold;
}
.speakers{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-gap: 32px;
    padding: 30px 115px;
}
.speaker-card{
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 100%;
}
.speaker-card img{
    width: 100%;
}
.speaker-card h3{
    padding: 10px 0;
}
.speaker-profile{
    padding: 10px;
}
.speaker-role{
    color: #1D4ED8;
    font-weight:600;
}